<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <h1>팀 이름을 입력해주세요!</h1>
    <form action="team">
        <label></label>
        <input id="teamnumber" name="teamnumber">
        <input type="submit" value="submit">
    </form>
    <a href="{% url 'team' %}"></a>
</body>
</html>